button {
  vertical-align: top;
  background-color: light-gray;
  font-weight: normal;
}
button:hover {
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.24), 0 12px 20px 0 rgba(0,0,0,0.19);
  font-weight: bold;
}
button:focus {
  background-color: #aacef7
}
